body {
  color: white;
  background-size: 1519px;
  margin: 0%;
  padding: 0%;

}

.left {
  font-family: 'Rubik Moonrocks', cursive;
  color: rgb(146, 8, 146);
  font-size: 49px;
  display: inline-block;
  left: 31px;
  top: 27px;
  position: absolute;
  /*border: 2px solid burlywood;*/
}

.right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 4px;
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 21px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 18px 17px;
}


.navbar li a:hover {
  text-decoration: underline;
  color: purple;

}

.fa {
  padding: 11px;
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: -13px 11px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.mid li {
  display: inline-block;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.container {
  position: absolute;
  border: 2px solid white;
  margin: 178px 80px;
  padding: 75px;
  width: 33%;
  border-radius: 28px;
}

.container h1 {
  text-align: center;
}

.form-group input {
  text-align: center;
  display: block;
  width: 508px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  font-size: 25px;
  border-radius: 8px;
}

.container button {
  display: block;
  width: 20%;
  padding: 9px;
  margin: 27px auto;
  border-radius: 7px;
  border: 4px solid #39cfbe;
  cursor: pointer;
}

.container button:hover {
  background-color: #b80eb0
}